:root {
  --color-primary: #816B39;
  --color-accent: #FFECC0;
  --color-text: #FFFFFF;

  --color-background-transparent: rgba(0,0,0,0.6);
}

$ppd-primary: (
  50 : #f0ede7,
  100 : #d9d3c4,
  200 : #c0b59c,
  300 : #a79774,
  400 : #948157,
  500 : #816b39,
  600 : #796333,
  700 : #6e582c,
  800 : #644e24,
  900 : #513c17,
  A100 : #ffd28e,
  A200 : #ffbe5b,
  A400 : #ffaa28,
  A700 : #ffa00e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ppd-accent: (
  50 : #fffdf7,
  100 : #fff9ec,
  200 : #fff6e0,
  300 : #fff2d3,
  400 : #ffefc9,
  500 : #ffecc0,
  600 : #ffeaba,
  700 : #ffe7b2,
  800 : #ffe4aa,
  900 : #ffdf9c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
