#login-page {
  height: 100%;
  width: 100%;

  background-image: url('/assets/public-background.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  #login-form {
    align-self: start;

    text-align: center;
    color: white;

    min-width: 610px;
    min-height: 610px;

    background: var(--color-background-transparent);

    mat-form-field {
      width: 400px;
    }

    button:first-child {
      margin-right: 10px;
    }
  }
}
