#registration-page {
  height: 100%;
  width: 100%;

  background-image: url('src/assets/public-background.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  #registration-form {
    align-self: start;

    text-align: center;
    color: white;

    min-width: 610px;
    min-height: 610px;

    background: rgba(0, 0, 0, 0.5);

    .letter-spacing {
      letter-spacing: 5px;
    }

    mat-form-field {
      width: 400px;
    }

    #header {
      margin-top: 60px;
      margin-bottom: 80px;
      text-shadow: 2px 2px black;

      h1 {
        font-size: 65px;
        margin-bottom: 0;
      }

      h2 {
        font-size: 40px;
        margin-top: 0;

        color: rgba(248, 233, 194);
      }
    }

    button {
      background-color: rgba(140, 117, 27);
    }
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgba(248, 233, 194) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: rgba(248, 233, 194) !important;
}
